<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Word Count</title>
</head>
<body>
    <h1>Word Count</h1>
    <p>
      <a href="{% url 'about' %}">About me</a>
    </p>
      <br>
    <form action="{% url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br>
        <input type="submit" value="Count!" />
    </form>

</body>
</html>
